$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
@import url(//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.min.css);

$font-family-sans-serif: 'Lato', sans-serif;
$brand-primary: #3c5a76;
$nav-link-hover-bg: rgba($brand-primary, 0.5);
@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3/transition";
@import 'colorbrewer';
// @import 'non-responsive';

.browsehappy {
  display:none;
  html.no-svg & {
    display:block;
    margin-top: 100px;
    @extend .lead;
    text-align: center;
  }
}

html.no-svg .application{
  display:none;
}

.navbar-brand {
  padding: 13px 15px;
  .mashblock-open{
    display: inline-block;
    text-indent: -1000px;
    width: 221px;
    height: 23px;
    background: image-url("mashblock-open@0.5x.png") center no-repeat;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: image-url("mashblock-open.png");
        background-size: 221px 23px;
    }
  }
}

$shades: cbrew("PuBuGn",8);

#map{
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  img[src*='virtualearth'] { -webkit-filter: grayscale(100%) brightness(200%) contrast(100%);}
  .poly{
    @include transition-property(fill, fill-opacity, stroke-width);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-in);
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #000;
    stroke-width: 1;
    stroke-linejoin: round;
    cursor: pointer;
    &.hover, &.highlighted{
      stroke-width: 2;
      fill-opacity: 0.75;
    }
    $q: 1;
    @while $q <= 8{
      &.quan_#{$q} {
        fill: nth($shades,$q);
      }
      $q: $q+1;
    }
  }
}
ul.legend{
  @extend .list-unstyled;
  position: absolute;
  top: 150px;
  left: 10px;
  border-bottom:solid 1px #000;
  @include box-shadow(rgba(#fff,0.5) 0 0 5px);
  li{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
    border:solid 1px #000;
    border-bottom: none;
    $q: 1;
    @while $q <= 8{
      &.quan_#{$q} {
        background-color: nth($shades,$q);
        color: darken(grayscale(invert(nth($shades,$q))), 20);
      }
      $q: $q+1;
    }
  }
}
div.infobar{
  padding: 10px 0;
  position:absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  background: rgba($navbar-default-bg, 0.7);
  border-top: solid 1px $navbar-default-border;
  border-bottom: solid 1px $navbar-default-border;
  .pop_count{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
}
